/* #region utilities */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;

}

:root {
    --pink: #e53170;
    --light-blue: #209bb0;

}

.container {
    width: 80%;
    margin: auto;
}

.clearfix::after {
    Content: '';
    Display: table;
    Clear: both
}

/* #end region utilities  */
/* perché non funziona la sezione collassabile? */

/* header */

header>h1 {
    color: var(--pink);
    text-align: center;
    padding: 2rem;
}

header>p {
    padding-bottom: 2rem;
    text-align: center;
}

/* end header */
/* ----------------------------- */

/* main section */
.box {
    background-color: rgb(138, 50, 50);
    float: left;
    padding: 0 0.5rem;
    background-clip: content-box;
    width: calc(100% / 3);

}

.box img {
    width: 25%;
    float: left;

}

.person-data {
    display: inline-block;
    color: white;
    padding: 1rem;


}